body {
  background-color: #ddd;
  background-image: url("https://source.unsplash.com/category/nature/1600x900");
  background-size: cover;
}

.done {
  text-decoration: line-through;
}

.click-this {
  cursor: pointer;
}

.see-this {
  margin: auto;
  width: 60%;
  position: absolute;
  top: 50%;
  /*left: 50%;*/
  /*transform: translateX(-50%) translateY(-50%);*/
  height: 10rem;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
}
