body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ddd;
  background-image: url("https://source.unsplash.com/category/nature/1600x900");
  background-size: cover;
}

.click-this {
  cursor: pointer;
}

.container {
  width: 100%;
}

#resizable {
  position: absolute;
  width: 60%;
  margin-top: 200px;
  margin-left: auto;
}


#texter {
  display: inline-block;
  background-color: rgba(255,255,255,0.4);
  -webkit-text-stroke: 2px rgba(0,0,0,0.2);
  padding: .3em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fa-style {
  color: rgba(255,255,255,0.4);
  float: left;
  margin: 10px;
}

.fa-style:hover {
  color: #0084b4;
}

@media screen and (max-width:600px) {
  body, html {
    background-image: url("https://source.unsplash.com/category/nature/600x800");
  }

  #resizable {
    width: 95%;
    margin-top: 25%;
    margin-left: auto;
  }
}
