/* * Colors ************************************************ */

/* #cddee7 white +1 */
/* #9bbecf white +2 */
/* #582005 black -3 */

/* #FAFAFA 0 */
/* #F5F5F5 1 */
/* #EEEEEE 2 */
/* 3 */
/* #BDBDBD 4 */
/* #9E9E9E 5 */
/* 6 */
/* #075E89 7 */
/* #424242 8 */
/* #263238 9 */


/* #e8a685 2 alt */
/*  5 alt */
/* #d65e23 5 alt */
/* #d24d0b 6 alt */
/* #bd4509 7 alt */
/* #541e04 9 alt */


/* * Colors  *********************************************** */

hr {
    height: 10px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(7, 94, 137, 0.5);
}

h1,
h3,
p,
a:link,
a:visited,
.card li {
  color: #582005;                      /* black - 3 */
}

ul.topnav li a {
  border-bottom: solid 5px #cddee7;    /* white +1 */
}

.navbar,
ul.topnav {
  background-color: #cddee7;           /* white +1 */
}

#email-progress,
.cardgroup:nth-child(even) {
  background-color: #cddee7;           /* white  +1 */
}

.close:hover,
.close:focus {
  color: #cddee7;                      /* white +1 */
}

body,
html {
  background-color: #9bbecf;           /* white + 2 */
}

.profile:hover {
  border: 8px solid #d65e23;           /* white + 2 */
}

.locked {
  background-color: #FAFAFA;           /* 0 */
}

.card {
  background-color: #F5F5F5;           /* 1 */
}

.profile {
  border: 8px solid #F5F5F5;           /* 1 */
}

.card-btn, .btn-color {
  color: #F5F5F5;                      /* 1 */
}

input:focus,
textarea:focus {
  border-top: solid 1px #F5F5F5;       /* 1 */
}

input,
textarea {
  border-bottom: solid 2px #BDBDBD;    /* 4 */
}

.navbar {
  border-bottom: solid 1px #9E9E9E;    /* 5 */
}

input:focus,
textarea:focus {
  border-bottom: solid 3px #075E89;    /* 7 */
}

ul.topnav li a {
  color: #075E89;                      /* 7 */
}

.card-btn:hover,
.card-btn:focus,
.btn-color:hover,
.btn-color:focus {
  background-color: #075E89;           /* 7 */
}

#email-progress {
  border-bottom: solid 2px #424242;    /* 8 */
}

.close {
  color: #263238;                      /* 9 */
}

/* * Alt Colors ******************************************** */

ul.topnav .selected {
  border-bottom: solid 3px #e8a685;    /* 2 alt */
}

ul.topnav li a:hover {
  border-bottom: solid 5px #d65e23;    /* 5 alt */
}

h1, h2 {
  color: #d24d0b;                      /* 6 alt */
}

.card-btn, .btn-color {
  background-color: #d24d0b;           /* 6 alt */
}

#email-bar {
  background-color: #bd4509;           /* 7 alt */
}

a:hover,
a:active,
ul.topnav li a:hover,
ul.topnav .selected  {
  color: #bd4509;                      /* 7 alt */
}

li {
  color: #541e04;                      /* 9 alt */
}

/* * Alt Colors ******************************************** */
/* ********************************************************* */
/* * Media ************************************************* */

@media screen and (max-width:600px) {
  .profile-details {
    background-color: #9bbecf;           /* white + 2 */
  }
}

/* * Colors ************************************************ */
