/* Original hand picked colors *******************************/
/* * Colors ************************************************ */

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(
      to right,
      #ddd,
      #555,
      #ddd
    );
}

body, html {
  background-color: #eee; /* 1 */
}

h1, h2, h3, li {
  color: #19334d;
}

a:link {
  color: #444; /* 7 */
}

a:visited {
  color: #555; /* 8 */
}

a:hover, a:active {
  color: #336699;
}

input, textarea {
  border-bottom: solid 2px #ccc; /* 4 */
}

input:focus, textarea:focus {
  border-bottom: solid 3px #444; /* 7 */
  border-top: solid 1px #eee; /* 1 */
}

.modal h2,p {
  color: #444; /* 7 */
}

.close {
  color: #aaa; /* 5 */
}

.close:hover, .close:focus {
  color: black;
}

#email-progress {
  background-color: #ddd; /* 3 */
  border-bottom: solid 2px #555; /* 8 */
}

#email-bar {
  background-color: #336699;
}

.locked {
  background-color: #fff; /* 0 */
}

.navbar {
  background-color: #fff; /* 0 */
  border-bottom: solid 1px #aaa; /* 5 */
}

.navbar {
  background-color: #fff; /* 0 */
}

ul.topnav {
  background-color: #fff; /* 0 */
}

ul.topnav li a {
  color: #777; /* 7 */
  border-bottom: solid 5px #fff; /* 0 */
}

ul.topnav li a:hover {
  color: #336699;
  border-bottom: solid 5px rgba(51, 102, 153,0.9);
}

ul.topnav .selected {
  color: #336699;
  border-bottom: solid 3px rgba(51, 102, 153,0.4);
}

.profile {
  border: 8px solid #eee; /* 1 */
}

.profile:hover {
  border: 8px solid #ccc; /* 4 */
}

.cardgroup:nth-child(even) {
  background-color: #e6e6e6; /* 4 */
}

.card {
  background-color: #ddd; /* 3 */
}

.card-btn, .magic-footer {
  background-color: #444; /* 7 */
  color: #eee; /* 1 */
}

.card-btn:hover, .card-btn:focus {
  background-color: #336699;
  color: #eee; /* 1 */
}

/* * Alt Colors ******************************************** */
/* ********************************************************* */
/* * Media ************************************************* */

@media screen and (max-width:600px) {
  .profile-details {
    background-color: #eee;           /* white + 2 */
  }
}

/* * Colors ************************************************ */
