/* * Colors ************************************************ */

/* #f2f2f2 white +1 */
/* #e6e6e6 white +2 */
/* #640000 black -3 */

/* #FAFAFA 0 */
/* #F5F5F5 1 */
/* #EEEEEE 2 */
/* 3 */
/* #BDBDBD 4 */
/* #9E9E9E 5 */
/* 6 */
/* #616161 7 */
/* #424242 8 */
/* #263238 9 */

/* #EF9A9A 2 alt */
/*  5 alt */
/* #F44336 5 alt */
/* #D32F2F 6 alt */
/* #C62828 7 alt */
/* #B71C1C 9 alt */


/* * Colors  *********************************************** */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(246, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
}

ul.topnav li a {
  border-bottom: solid 5px #f2f2f2;    /* white +1 */
}

.navbar,
ul.topnav {
  background-color: #f2f2f2;           /* white +1 */
}

.close:hover,
.close:focus {
  color: #f2f2f2;                      /* white +1 */
}

body,
html {
  background-color: #e6e6e6;           /* white + 2 */
}

.profile {
  border: 8px solid #e6e6e6;           /* white + 2 */
}

.card-btn, .magic-footer {
  color: #e6e6e6;                      /* white + 2 */
}

h1,
h3,
p,
a:link,
a:visited,
.card li {
  color: #640000;                      /* black - 3 */
}

.locked {
  background-color: #FAFAFA;           /* 0 */
}

.card {
  background-color: #F5F5F5;           /* 1 */
}

input:focus,
textarea:focus {
  border-top: solid 1px #F5F5F5;       /* 1 */
}

.profile:hover {
  border: 8px solid #EEEEEE;           /* 2 */
}

#email-progress,
.cardgroup:nth-child(even) {
  background-color: #EEEEEE;           /* 2 */
}

input,
textarea {
  border-bottom: solid 2px #BDBDBD;    /* 4 */
}

.navbar {
  border-bottom: solid 1px #9E9E9E;    /* 5 */
}

input:focus, textarea:focus {
  border-bottom: solid 3px #616161;    /* 7 */
}

ul.topnav li a {
  color: #616161;                      /* 7 */
}

.card-btn:hover,
.card-btn:focus,
.magic-footer:hover,
.magic-footer:focus {
  background-color: #616161;           /* 7 */
}

#email-progress {
  border-bottom: solid 2px #424242;    /* 8 */
}

.close {
  color: #263238;                      /* 9 */
}

/* * Alt Colors ******************************************** */

ul.topnav .selected {
  border-bottom: solid 3px #EF9A9A;    /* 2 alt */
}

ul.topnav li a:hover {
  border-bottom: solid 5px #F44336;    /* 5 alt */
}

.card-btn, .magic-footer {
  background-color: #D32F2F;           /* 6 alt */
}

#email-bar {
  background-color: #C62828;           /* 7 alt */
}

a:hover,
a:active,
ul.topnav li a:hover,
ul.topnav .selected  {
  color: #C62828;                      /* 7 alt */
}

h2, li {
  color: #B71C1C;                      /* 9 alt */
}

/* * Alt Colors ******************************************** */
/* ********************************************************* */
/* * Media ************************************************* */

@media screen and (max-width:600px) {
  .profile-details {
    background-color: #e6e6e6;           /* white + 2 */
  }
}

/* * Colors ************************************************ */
